# Configuration file
# Generated on 5/26/12 2:16 AM

####################
# block 
####################

block {
   TeleportTether.Enabled=true
   TeleportTether.id=179
}

####################
# general 
####################

general {
   EnableWaterProofRemoval=false
   logLevel=1
   powerloss=0.995
   saveLagFix=false
   wrenchOpensGui=false
}

####################
# item 
####################

item {
   ItemTeleport.Id=4047
   ItemsAdvancedInsertion.Id=4044
   ItemsAdvancedWood.Id=4045
   ItemsDistributor.Id=4046
   ItemsRedstone.Id=4043
   LiquidTeleport.Id=4048
   LiquidsRedstone.Id=4042
   PowerTeleport.Id=4049
   enableItemTeleport=true
   enableItemsAdvancedInsertion=true
   enableItemsAdvancedWood=true
   enableItemsDistributor=true
   enableItemsRedstone=true
   enableLiquidsRedstone=true
   enableLiquidsTeleport=true
   enablePowerTeleport=true
}

